<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Magellano - NFT Marketplace Website Template by Ansonika">
        <meta name="author" content="Ansonika">
        <title>{% block title %}{% endblock %} - TRLab Auction</title>

    <!-- FAVICONS-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	<!-- BASE CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- SPECIFIC CSS -->
    {% block specificcss %}{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- YOUR CUSTOM CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body>
    {% block fullbody %}{% endblock %}
    <!-- <nav>
        <h1>TRLab Auction</h1>
        <ul>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        {% block content %}{% endblock %}
    </section> -->
</body>
</html>
